* {
  font-family: Roboto, "sans-serif";
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

/*---------------------Header Styles---------------------*/

header {
  background-color: #1f2937;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 15px 270px;
}

header nav .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a:hover {
  font-size: 23px;
  font-weight: 400;
}

header nav ul li a {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

header .header-content {
  display: flex;
  flex-direction: row;
  margin: 70px 0px;
  align-items: center;
  justify-content: space-between;
}

header .header-content .hero-container {
  max-width: 550px;
}

header .header-content .hero-container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

header .header-content .hero-container p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  max-width: 700px;
  margin: 20px 0px;
}

header .header-content .hero-container button {
  background-color: #3882f6;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 13px;
  border-radius: 6.5px;
}

header .header-content .hero-container button:hover {
  background-color: #396ab9;
  cursor: pointer;
}

header img {
  background-size: cover;
  max-width: 450px;
}

/*---------------------Info Styles---------------------*/

.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 125px;
}

.info .container .info-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 20px 0;
}

.info .container h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.info .container .info-content .member {
  text-align: center;
  max-width: 200px;
}

.info .container .info-content .member img {
  background-image: cover;
  width: 150px;
  height: 150px;
  border: #3882f6 solid 3px;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* Needs to be fixed !!! - image size */

.info .container .info-content .member p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

/*---------------------Quote Styles---------------------*/

.quote {
  background-color: #e5e7eb;
}

.quote .container {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;

  padding-top: 125px;
  padding-bottom: 125px;
}

.quote .container p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote .container p.name {
  align-self: flex-end;
  font-weight: 400;
}

/*---------------------Signup Styles---------------------*/

.signup .container .content {
  background-color: #3882f6;
  padding: 40px 80px;
  border-radius: 10px;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  margin: 80px 250px;
  align-items: center;
}

.signup .container .content button {
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 1px solid;
  padding: 13px 20px;
  font-size: 15px;
  border-radius: 6px;
}

/*---------------------Signup Styles---------------------*/

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
}

footer .container p {
  padding-top: 10px;
  padding-bottom: 10px;
}
